################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/wifiaway/.vs
/wifiaway/out/build/x64-debug
/wifiaway/Debug
/wifiaway/x64/Debug
